@media only screen and (max-width: 1280px) {
  .header {
    /**
    NAV
    */ }
    .header nav {
      height: 90px; }
      .header nav .small-logo {
        margin: 0;
        padding: 10px 15px;
        max-width: 270px; }
      .header nav .list-nav .item-nav {
        padding: 35px 5px; }
  .entry-slogan .big-logo {
    padding: 20px;
    max-width: 140px; }
  .entry-slogan .slogan {
    position: absolute;
    bottom: 0;
    background: white;
    text-align: center;
    left: calc(50% - 265px);
    width: 530px;
    padding: 50px 0 5px; }
    .entry-slogan .slogan img {
      max-width: 460px; }
  .container {
    padding: 0 15px; }
  .entry-project {
    margin: 0 auto 100px; }
    .entry-project .project .project-content.right, .entry-project .project .project-content.left {
      padding: 55px 15px 0; }
    .entry-project .project .project-content .project-header {
      font-size: 30px; }
  .project-detail {
    margin: 0 auto 75px; }
    .project-detail:before {
      display: none; }
    .project-detail .project-detail-information {
      width: 40%;
      padding: 30px 15px; }
      .project-detail .project-detail-information:last-child .project-detail-content {
        border-right: 0; }
  .line.line-top:before {
    content: "";
    width: 10px;
    height: 160px;
    z-index: 1;
    position: absolute;
    top: -120px;
    background: linear-gradient(#276D51, #9BC455); }
  .line.line-top.line-left:before {
    left: 115px; }
  .line.line-top.line-right:before {
    right: 115px; }
  .line.line-bottom:before {
    content: "";
    width: 10px;
    height: 170px;
    z-index: 1;
    position: absolute;
    bottom: -110px;
    background: linear-gradient(#9BC455, #276D51); }
  .line.line-bottom.line-left:before {
    left: 115px; }
  .line.line-bottom.line-right:before {
    right: 115px; } }

@media only screen and (max-width: 992px) {
  .header {
    /**
    NAV
    */ }
    .header.not-visible {
      top: -100%; }
    .header nav {
      height: 80px; }
      .header nav .small-logo {
        margin: 0;
        padding: 15px;
        max-width: 200px; }
      .header nav .burger {
        position: relative;
        right: 15px;
        top: 40px;
        background: #5f9753;
        width: 50px;
        height: 5px;
        float: right;
        display: block;
        opacity: 1;
        transition: all .4s ease-in-out; }
        .header nav .burger.active {
          background: transparent; }
        .header nav .burger:before {
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          top: -8px;
          left: 0;
          background: #286d51;
          transition: all .5s ease-in-out; }
        .header nav .burger.active:before {
          transform: rotate(45deg);
          top: 0; }
        .header nav .burger:after {
          transition: all .5s ease-in-out;
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          bottom: -8px;
          left: 0;
          background: #9bc455; }
        .header nav .burger.active:after {
          transform: rotate(-45deg);
          top: 0; }
      .header nav .list-nav {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        height: auto;
        display: none; }
        .header nav .list-nav .item-nav {
          width: 100%;
          padding: 25px;
          text-align: center; }
          .header nav .list-nav .item-nav a {
            display: block; }
  .entry-slogan {
    margin: 0 auto 50px;
    left: 0;
    width: 100%; }
    .entry-slogan .slogan {
      display: none; }
  .entry-project {
    margin: 0 auto; }
    .entry-project .img {
      margin: 0 auto; }
    .entry-project .project-slogan {
      margin: 50px auto 75px; }
    .entry-project .project {
      padding: 0; }
      .entry-project .project .project-content,
      .entry-project .project .project-image {
        width: 100%;
        margin: 0 auto 50px; }
      .entry-project .project .project-content.right, .entry-project .project .project-content.left {
        padding: 0; }
  .project-detail .project-detail-information {
    width: 100%;
    padding: 0; }
    .project-detail .project-detail-information .project-detail-content {
      border: 0;
      padding: 0 0 20px 100px; }
      .project-detail .project-detail-information .project-detail-content .imo-detail {
        font-size: 20px; }
        .project-detail .project-detail-information .project-detail-content .imo-detail .number {
          font-size: 45px;
          top: -3px;
          left: -79px; }
  .line.line-top:before {
    top: -180px; }
  .line.line-top.line-left:before {
    left: 20px; }
  .line.line-top.line-right:before {
    right: 20px;
    top: -50px; }
  .line.line-bottom:before {
    bottom: -60px; }
  .line.line-bottom.line-left:before {
    left: 20px; }
  .line.line-bottom.line-right:before {
    right: 20px; }
  .hideme {
    opacity: 1; } }
