* {
  box-sizing: border-box; }

/**
FONTS
 */
/**
FONTS
 */
@font-face {
  font-family: 'MADEEvolveSans-Bold';
  src: url("../css/fonts/bold/MADEEvolveSans-Bold.eot");
  src: url("../css/fonts/bold/MADEEvolveSans-Bold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/bold/MADEEvolveSans-Bold.svg#MADEEvolveSans-Bold") format("svg"), url("../css/fonts/bold/MADEEvolveSans-Bold.ttf") format("truetype"), url("../css/fonts/bold/MADEEvolveSans-Bold.woff") format("woff"), url("../css/fonts/bold/MADEEvolveSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MADEEvolveSans-Light';
  src: url("../css/fonts/light/MADEEvolveSans-Light.eot");
  src: url("../css/fonts/light/MADEEvolveSans-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/light/MADEEvolveSans-Light.svg#MADEEvolveSans-Light") format("svg"), url("../css/fonts/light/MADEEvolveSans-Light.ttf") format("truetype"), url("../css/fonts/light/MADEEvolveSans-Light.woff") format("woff"), url("../css/fonts/light/MADEEvolveSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MADEEvolveSans';
  src: url("../css/fonts/regular/MADEEvolveSans.eot");
  src: url("../css/fonts/regular/MADEEvolveSans.eot?#iefix") format("embedded-opentype"), url("../css/fonts/regular/MADEEvolveSans.svg#MADEEvolveSans") format("svg"), url("../css/fonts/regular/MADEEvolveSans.ttf") format("truetype"), url("../css/fonts/regular/MADEEvolveSans.woff") format("woff"), url("../css/fonts/regular/MADEEvolveSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/**
COLORS
 */
.uppercase {
  text-transform: uppercase; }

.container {
  max-width: 1500px;
  margin: 0 auto; }

.full-container {
  max-width: 1540px;
  margin: 0 auto;
  text-align: center; }

.small-container {
  max-width: 1440px;
  margin: 0 auto; }

/**
HEADER
 */
.header {
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: all .5s ease-in-out;
  /**
  NAV
  */ }
  .header.not-visible {
    top: -250px; }
  .header nav {
    height: 150px;
    text-align: left; }
    .header nav .burger {
      display: none;
      opacity: 0; }
    .header nav .small-logo {
      margin: 38px 0;
      padding: 0 15px; }
    .header nav .list-nav {
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: right;
      width: calc(100% - 315px);
      vertical-align: top;
      height: 150px; }
      .header nav .list-nav .item-nav {
        display: inline-block;
        padding: 66px 25px; }
        .header nav .list-nav .item-nav a {
          font-family: 'MADEEvolveSans';
          font-size: 16px;
          color: #000000;
          text-transform: uppercase;
          text-decoration: none; }
          .header nav .list-nav .item-nav a.contact {
            background: #276D51;
            color: #ffffff;
            position: relative;
            padding: 10px 24px; }
          .header nav .list-nav .item-nav a:hover {
            text-decoration: underline; }

.entry-slogan {
  background-image: url("../img/header-background.png");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto 200px; }
  .entry-slogan .big-logo {
    padding: 35px 15px; }
  .entry-slogan .slogan {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    left: calc(50% - 456px);
    width: 912px;
    padding: 50px 0 5px; }

.line.line-top:before {
  content: "";
  width: 10px;
  height: 248px;
  z-index: 1;
  position: absolute;
  top: -200px;
  background: linear-gradient(#276D51, #9BC455); }

.line.line-top.line-left:before {
  left: 75px; }

.line.line-top.line-right:before {
  right: 75px; }

.line.line-bottom:before {
  content: "";
  width: 10px;
  height: 300px;
  z-index: 1;
  position: absolute;
  bottom: -120px;
  background: linear-gradient(#9BC455, #276D51); }

.line.line-bottom.line-left:before {
  left: 75px; }

.line.line-bottom.line-right:before {
  right: 75px; }

.entry-project .project {
  font-size: 0;
  z-index: 1;
  position: relative;
  padding: 0 15px; }
  .entry-project .project .project-image,
  .entry-project .project .project-content {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    position: relative; }
  .entry-project .project .project-content.left {
    padding: 55px 60px 0 130px; }
  .entry-project .project .project-content.right {
    padding: 55px 130px 0 60px; }
  .entry-project .project .project-content .project-header {
    font-family: 'MADEEvolveSans-Light';
    font-size: 35px;
    letter-spacing: 2px;
    color: #276D51;
    margin: 0 0 40px; }
  .entry-project .project .project-content .project-body {
    font-family: 'MADEEvolveSans';
    color: #6D6E71;
    font-size: 20px;
    margin: 0 0 35px; }
  .entry-project .project .project-content .project-more-info {
    font-family: 'MADEEvolveSans-Bold';
    color: #276D51;
    border: 1px solid #276D51;
    width: 128px;
    height: 35px;
    position: relative;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 1px;
    text-decoration: none; }

.entry-project .img {
  width: 100%;
  max-width: 755px; }

.entry-project .project-slogan {
  margin: 200px auto; }
  .entry-project .project-slogan .img-center {
    width: 100%;
    max-width: 888px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    display: block; }

.project-detail {
  background: linear-gradient(to right, #276D51, #9BC455);
  width: 100%;
  position: relative;
  font-size: 0;
  margin: 0 0 200px; }
  .project-detail:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    background: linear-gradient(to right, #276D51, #9BC455);
    width: 100%;
    height: 100px; }
  .project-detail .project-detail-information {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    padding: 50px 0;
    text-align: left; }
    .project-detail .project-detail-information:last-child .project-detail-content {
      border-right: 1px solid white; }
    .project-detail .project-detail-information .project-detail-content {
      font-size: 25px;
      padding: 18px 0 17px 100px;
      border-left: 1px solid white; }
      .project-detail .project-detail-information .project-detail-content.info {
        padding: 18px 0 17px 40px; }
      .project-detail .project-detail-information .project-detail-content .imo-detail {
        position: relative;
        font-family: 'MADEEvolveSans-Light';
        color: #ffffff;
        font-size: 25px;
        width: 100%;
        display: block;
        text-transform: uppercase; }
        .project-detail .project-detail-information .project-detail-content .imo-detail .info {
          font-family: 'MADEEvolveSans-Bold'; }
        .project-detail .project-detail-information .project-detail-content .imo-detail .number {
          font-family: 'MADEEvolveSans-Bold';
          position: absolute;
          top: -6px;
          left: -75px;
          font-size: 63px;
          letter-spacing: 0;
          width: 70px;
          text-align: right; }

.hideme {
  opacity: 0; }

@media only screen and (max-width: 1280px) {
  .header {
    /**
    NAV
    */ }
    .header nav {
      height: 90px; }
      .header nav .small-logo {
        margin: 0;
        padding: 10px 15px;
        max-width: 270px; }
      .header nav .list-nav .item-nav {
        padding: 35px 5px; }
  .entry-slogan .big-logo {
    padding: 20px;
    max-width: 140px; }
  .entry-slogan .slogan {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    left: calc(50% - 265px);
    width: 530px;
    padding: 50px 0 5px; }
    .entry-slogan .slogan img {
      max-width: 460px; }
  .container {
    padding: 0 15px; }
  .entry-project {
    margin: 0 auto 100px; }
    .entry-project .project .project-content.right, .entry-project .project .project-content.left {
      padding: 55px 15px 0; }
    .entry-project .project .project-content .project-header {
      font-size: 30px; }
  .project-detail {
    margin: 0 auto 75px; }
    .project-detail:before {
      display: none; }
    .project-detail .project-detail-information {
      width: 40%;
      padding: 30px 15px; }
      .project-detail .project-detail-information:last-child .project-detail-content {
        border-right: 0; }
  .line.line-top:before {
    content: "";
    width: 10px;
    height: 160px;
    z-index: 1;
    position: absolute;
    top: -120px; }
  .line.line-top.line-left:before {
    left: 115px; }
  .line.line-top.line-right:before {
    right: 115px; }
  .line.line-bottom:before {
    content: "";
    width: 10px;
    height: 170px;
    z-index: 1;
    position: absolute;
    bottom: -110px; }
  .line.line-bottom.line-left:before {
    left: 115px; }
  .line.line-bottom.line-right:before {
    right: 115px; } }

@media only screen and (max-width: 992px) {
  .header {
    /**
    NAV
    */ }
    .header.not-visible {
      top: -100%; }
    .header nav {
      height: 80px; }
      .header nav .small-logo {
        margin: 0;
        padding: 15px;
        max-width: 200px; }
      .header nav .burger {
        position: relative;
        right: 15px;
        top: 40px;
        background: #276D51;
        width: 50px;
        height: 5px;
        float: right;
        display: block;
        opacity: 1;
        transition: all .4s ease-in-out; }
        .header nav .burger.active {
          background: transparent; }
        .header nav .burger:before {
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          top: -8px;
          left: 0;
          background: #276D51;
          transition: all .5s ease-in-out; }
        .header nav .burger.active:before {
          transform: rotate(45deg);
          top: 0; }
        .header nav .burger:after {
          transition: all .5s ease-in-out;
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          bottom: -8px;
          left: 0;
          background: #9BC455; }
        .header nav .burger.active:after {
          transform: rotate(-45deg);
          top: 0; }
      .header nav .list-nav {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #ffffff;
        height: auto;
        display: none; }
        .header nav .list-nav .item-nav {
          width: 100%;
          padding: 25px;
          text-align: center; }
          .header nav .list-nav .item-nav a {
            display: block; }
  .entry-slogan {
    margin: 0 auto 50px;
    left: 0;
    width: 100%; }
    .entry-slogan .slogan {
      display: none; }
  .entry-project {
    margin: 0 auto; }
    .entry-project .img {
      margin: 0 auto; }
    .entry-project .project-slogan {
      margin: 50px auto 75px; }
    .entry-project .project {
      padding: 0; }
      .entry-project .project .project-content,
      .entry-project .project .project-image {
        width: 100%;
        margin: 0 auto 50px; }
      .entry-project .project .project-content.right, .entry-project .project .project-content.left {
        padding: 0; }
  .project-detail .project-detail-information {
    width: 100%;
    padding: 0; }
    .project-detail .project-detail-information .project-detail-content {
      border: 0;
      padding: 0 0 20px 100px; }
      .project-detail .project-detail-information .project-detail-content .imo-detail {
        font-size: 20px; }
        .project-detail .project-detail-information .project-detail-content .imo-detail .number {
          font-size: 45px;
          top: -3px;
          left: -79px; }
  .line.line-top:before {
    top: -180px; }
  .line.line-top.line-left:before {
    left: 20px; }
  .line.line-top.line-right:before {
    right: 20px;
    top: -50px; }
  .line.line-bottom:before {
    bottom: -60px; }
  .line.line-bottom.line-left:before {
    left: 20px; }
  .line.line-bottom.line-right:before {
    right: 20px; }
  .hideme {
    opacity: 1; } }
