/**
FONTS
 */
@font-face {
  font-family: 'MADEEvolveSans-Bold';
  src: url('../css/fonts/bold/MADEEvolveSans-Bold.eot');
  src: url('../css/fonts/bold/MADEEvolveSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/bold/MADEEvolveSans-Bold.svg#MADEEvolveSans-Bold') format('svg'),
  url('../css/fonts/bold/MADEEvolveSans-Bold.ttf') format('truetype'),
  url('../css/fonts/bold/MADEEvolveSans-Bold.woff') format('woff'),
  url('../css/fonts/bold/MADEEvolveSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADEEvolveSans-Light';
  src: url('../css/fonts/light/MADEEvolveSans-Light.eot');
  src: url('../css/fonts/light/MADEEvolveSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/light/MADEEvolveSans-Light.svg#MADEEvolveSans-Light') format('svg'),
  url('../css/fonts/light/MADEEvolveSans-Light.ttf') format('truetype'),
  url('../css/fonts/light/MADEEvolveSans-Light.woff') format('woff'),
  url('../css/fonts/light/MADEEvolveSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADEEvolveSans';
  src: url('../css/fonts/regular/MADEEvolveSans.eot');
  src: url('../css/fonts/regular/MADEEvolveSans.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/regular/MADEEvolveSans.svg#MADEEvolveSans') format('svg'),
  url('../css/fonts/regular/MADEEvolveSans.ttf') format('truetype'),
  url('../css/fonts/regular/MADEEvolveSans.woff') format('woff'),
  url('../css/fonts/regular/MADEEvolveSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
