@media only screen and (max-width: 1280px) {
  .header {

    /**
    NAV
    */
    nav {
      height: 90px;

      .small-logo {
        margin: 0;
        padding: 10px 15px;
        max-width: 270px;
      }

      .list-nav {

        .item-nav {
          padding: 35px 5px;
        }
      }
    }

  }

  .entry-slogan {
    .big-logo {
      padding: 20px;
      max-width: 140px;
    }

    .slogan {
      position: absolute;
      bottom: 0;
      background: $color-white;
      text-align: center;
      left: calc(50% - 265px);
      width: 530px;
      padding: 50px 0 5px;

      img {
        max-width: 460px;
      }
    }
  }

  .container {
    padding: 0 15px;
  }

  .entry-project {
    margin: 0 auto 100px;

    .project {
      .project-content {
        &.right,
        &.left {
          padding: 55px 15px 0;
        }

        .project-header {
          font-size: 30px;
        }
      }
    }
  }

  .project-detail {
    margin: 0 auto 75px;

    &:before {
      display: none;
    }

    .project-detail-information {
      width: 40%;
      padding: 30px 15px;

      &:last-child {
        .project-detail-content {
          border-right: 0;
        }
      }

      .project-detail-content {
      }
    }
  }

  .line {
    &.line-top {
      &:before {
        content: "";
        width: 10px;
        height: 160px;
        z-index: 1;
        position: absolute;
        top: -120px;
      }

      &.line-left:before {
        left: 115px;
      }

      &.line-right:before {
        right: 115px;
      }
    }

    &.line-bottom {
      &:before {
        content: "";
        width: 10px;
        height: 170px;
        z-index: 1;
        position: absolute;
        bottom: -110px;
      }

      &.line-left:before {
        left: 115px;
      }

      &.line-right:before {
        right: 115px;
      }
    }
  }
}


@media only screen and (max-width: 992px) {

  .header {
    &.not-visible {
      top: -100%;
    }

    /**
    NAV
    */
    nav {
      height: 80px;

      .small-logo {
        margin: 0;
        padding: 15px;
        max-width: 200px;
      }

      .burger {
        position: relative;
        right: 15px;
        top: 40px;
        background: $color-green;
        width: 50px;
        height: 5px;
        float: right;
        display: block;
        opacity: 1;
        transition: all .4s ease-in-out;

        &.active {
          background: transparent;
        }

        &:before {
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          top: -8px;
          left: 0;
          background: $color-start-gradient;
          transition: all .5s ease-in-out;
        }
        &.active:before {
          transform: rotate(45deg);
          top: 0;
        }
        &:after {
          transition: all .5s ease-in-out;
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          bottom: -8px;
          left: 0;
          background: $color-end-gradient;
        }
        &.active:after {
          transform: rotate(-45deg);
          top: 0;
        }
      }

      .list-nav {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: $color-white;
        height: auto;
        display: none;

        .item-nav {
          width: 100%;
          padding: 25px;
          text-align: center;

          a {
            display: block;
          }
        }
      }
    }
  }

  .entry-slogan {
    margin: 0 auto 50px;
    left: 0;
    width: 100%;

    .slogan {
      display: none;
    }
  }

  .entry-project {
    margin: 0 auto;

    .img {
      margin: 0 auto;
    }

    .project-slogan {
      margin: 50px auto 75px;
    }

    .project {
      padding: 0;

      .project-content,
      .project-image {
        width: 100%;
        margin: 0 auto 50px;
      }

      .project-content {
        &.right,
        &.left {
          padding: 0;
        }
      }
    }
  }

  .project-detail {
    .project-detail-information {
      width: 100%;
      padding: 0;
      .project-detail-content {
        border: 0;
        padding: 0 0 20px 100px;
        .imo-detail {
          font-size: 20px;
          .number {
            font-size: 45px;
            top: -3px;
            left: -79px;
          }
        }
      }
    }
  }

  .line {
    &.line-top {
      &:before {
        top: -180px;
      }

      &.line-left:before {
        left: 20px;
      }

      &.line-right:before {
        right: 20px;
        top: -50px;
      }
    }

    &.line-bottom {
      &:before {
        bottom: -60px;
      }

      &.line-left:before {
        left: 20px;
      }

      &.line-right:before {
        right: 20px;
      }
    }
  }

  .hideme {
    opacity: 1;
  }
}

