* {
  box-sizing: border-box;
}

/**
FONTS
 */
@import "fonts";

/**
COLORS
 */
@import "colors";

.uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.full-container {
  max-width: 1540px;
  margin: 0 auto;
  text-align: center;
}

.small-container {
  max-width: 1440px;
  margin: 0 auto;
}


/**
HEADER
 */
.header {
  width: 100%;
  background: $color-white;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: all .5s ease-in-out;

  &.not-visible {
    top: -250px;
  }

  /**
  NAV
  */
  nav {
    height: 150px;
    text-align: left;


    .burger {
      display: none;
      opacity: 0;
    }


    .small-logo {
      margin: 38px 0;
      padding: 0 15px;
    }

    .list-nav {
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: right;
      width: calc(100% - 315px);
      vertical-align: top;
      height: 150px;

      .item-nav {
        display: inline-block;
        padding: 66px 25px;

        a {
          font-family: 'MADEEvolveSans';
          font-size: 16px;
          color: $color-black;
          text-transform: uppercase;
          text-decoration: none;

          &.contact {
            background: $color-green;
            color: $color-white;
            position: relative;
            padding: 10px 24px;

          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.entry-slogan {
  background-image: url("../img/header-background.png");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto 200px;

  .big-logo {
    padding: 35px 15px;
  }

  .slogan {
    position: absolute;
    bottom: 0;
    background: $color-white;
    text-align: center;
    left: calc(50% - 456px);
    width: 912px;
    padding: 50px 0 5px;
  }
}

.line {
  &.line-top {
    &:before {
      content: "";
      width: 10px;
      height: 248px;
      z-index: 1;
      position: absolute;
      top: -200px;
      background: linear-gradient($color-start-gradient, $color-end-gradient);
    }

    &.line-left:before {
      left: 75px;
    }

    &.line-right:before {
      right: 75px;
    }
  }

  &.line-bottom {
    &:before {
      content: "";
      width: 10px;
      height: 300px;
      z-index: 1;
      position: absolute;
      bottom: -120px;
      background: linear-gradient($color-end-gradient, $color-start-gradient);
    }

    &.line-left:before {
      left: 75px;
    }

    &.line-right:before {
      right: 75px;
    }
  }
}

.entry-project {
  .project {
    font-size: 0;
    z-index: 1;
    position: relative;
    padding: 0 15px;

    .project-image,
    .project-content {
      width: 50%;
      vertical-align: top;
      display: inline-block;
      position: relative;
    }

    .project-content {
      &.left {
        padding: 55px 60px 0 130px;
      }

      &.right {
        padding: 55px 130px 0 60px;
      }

      .project-header {
        font-family: 'MADEEvolveSans-Light';
        font-size: 35px;
        letter-spacing: 2px;
        color: $color-green;
        margin: 0 0 40px;
      }

      .project-body {
        font-family: 'MADEEvolveSans';
        color: $color-grey;
        font-size: 20px;
        margin: 0 0 35px;
      }

      .project-more-info {
        font-family: 'MADEEvolveSans-Bold';
        color: $color-green;
        border: 1px solid $color-green;
        width: 128px;
        height: 35px;
        position: relative;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 1px;
        text-decoration: none;
      }
    }
  }

  .img {
    width: 100%;
    max-width: 755px;
  }

  .project-slogan {
    margin: 200px auto;

    .img-center {
      width: 100%;
      max-width: 888px;
      margin: 0 auto;
      padding: 0 10px;
      position: relative;
      display: block;
    }
  }

}

.project-detail {
  background: linear-gradient(to right, $color-start-gradient, $color-end-gradient);
  width: 100%;
  position: relative;
  font-size: 0;
  margin: 0 0 200px;

  &:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    background: linear-gradient(to right, $color-start-gradient, $color-end-gradient);
    width: 100%;
    height: 100px;
  }

  .project-detail-information {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    padding: 50px 0;
    text-align: left;

    &:last-child {
      .project-detail-content {
        border-right: 1px solid white;
      }
    }

    .project-detail-content {
      font-size: 25px;
      padding: 18px 0 17px 100px;
      border-left: 1px solid white;

      &.info {
        padding: 18px 0 17px 40px;
      }

      .imo-detail {
        position: relative;
        font-family: 'MADEEvolveSans-Light';
        color: $color-white;
        font-size: 25px;
        width: 100%;
        display: block;
        text-transform: uppercase;


        .info {
          font-family: 'MADEEvolveSans-Bold';
        }

        .number {
          font-family: 'MADEEvolveSans-Bold';
          position: absolute;
          top: -6px;
          left: -75px;
          font-size: 63px;
          letter-spacing: 0;
          width: 70px;
          text-align: right;
        }

      }

    }
  }
}

.hideme {
  opacity: 0;
}

@import "media-queries";