@font-face {
  font-family: 'MADEEvolveSans-Bold';
  src: url('MADEEvolveSans-Bold.eot');
  src: url('MADEEvolveSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('MADEEvolveSans-Bold.svg#MADEEvolveSans-Bold') format('svg'),
       url('MADEEvolveSans-Bold.ttf') format('truetype'),
       url('MADEEvolveSans-Bold.woff') format('woff'),
       url('MADEEvolveSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

