@font-face {
  font-family: 'MADEEvolveSans';
  src: url('MADEEvolveSans.eot');
  src: url('MADEEvolveSans.eot?#iefix') format('embedded-opentype'),
       url('MADEEvolveSans.svg#MADEEvolveSans') format('svg'),
       url('MADEEvolveSans.ttf') format('truetype'),
       url('MADEEvolveSans.woff') format('woff'),
       url('MADEEvolveSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

